@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1>WebCam Streaming Sample Application</h1>
</div>


<div class="row">
    <div class="col-12 text-center">
        <button id="btnOpenCamera" class="btn btn-info mx-auto" data-state="closed">Open camera</button>
    </div>
    <div class="col-6">
        <div class="card card-body bg-light m-2 h-100">
            <div><p id="lblState">Ready to connect...</p></div>


            <div class="d-lg-flex flex-row">

                <div class="p-2 w-100">
                    <input id="server" type="text" class="w-100" />
                </div>
                <div class="d-flex flex-row">
                    <div class="m-2">
                        <button id="btnConnect" type="submit" class="btn btn-info">Open Socket</button>
                    </div>
                    <div class="m-2">
                        <button id="btnClose" class="btn btn-danger" disabled>Close Socket</button>
                    </div>
                    <div class="m-2">
                        <button id="btnStart" class="btn btn-info">Start Stream</button>
                    </div>
                </div>
            </div>

        </div>
    </div>
</div>

<div class="row">
    <div class="col-12 m-2">
        <div class="d-lg-flex flex-row">
            <div class="col-2"></div>
            <div id="fromServer" class="col-8">
                <h4>From Atticus Server</h4>
                <img width="462" height="260" id="img" src="">
            </div>
            <div class="col-2"></div>
        </div>
    </div>
</div>
@section Scripts
{
    <script src="~/js/main.js" asp-append-version="true"></script>
}
