@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1>WebCam Streaming Sample Application</h1>
</div>

<div class="row">
    <div class="col-12 text-center">
        <button id="btnOpenCamera" class="btn btn-info mx-auto" data-state="closed">Open camera</button>
    </div>
</div>

<div class="row">
    <div class="col-12 m-2">
        <div class="d-lg-flex flex-row">
            <div class="col-5">
                <h4>From client</h4>
                <video width="480" height="360" id="video" autoplay></video>
            </div>
            <div class="col-2"></div>
            <div class="col-5">
                <h4>From server</h4>
                <img width="480" height="360" id="imgHub" src="">
            </div>
        </div>

    </div>
</div>
@section Scripts
{
    <script src="~/js/videohub.js" asp-append-version="true"></script>
}
